.filmpro-theatres-now__header::before {
	background: transparent url("../img/sidebar-block-headers-sprite.html") no-repeat scroll 0px -438px;
	position: absolute;
	display: block;
	content: "";
	left: 12px;
	top: 50%;
	width: 24px;
	height: 28px;
	margin-top: -14px;
}
.redcolor{
	color:red;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0px;
	padding: 0px;
	border: 0px none;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	font-size-adjust: inherit;
	font-stretch: inherit;
	font-feature-settings: inherit;
	font-language-override: inherit;
	font-kerning: inherit;
	font-synthesis: inherit;
	font-variant: inherit;
	font-size: 100%;
	vertical-align: baseline;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
	font-weight: 600; 
}

html {
	line-height: 1;
}

table {
	border-collapse: collapse;
	border-spacing: 0px;
}

caption,
th,
td {
	text-align: right;
	font-weight: normal;
	vertical-align: middle;
}

q::before,
q::after,
blockquote::before,
blockquote::after {
	content: none;
}

a img {
	border: medium none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

.search-ext__query-wrapper,
.search-ext__query,
.search-ext__date-select,
.search-ext__date-select__list,
.search-ext__date,
.search-ext__date input,
.title,
.aside-menu__title,
.aside-menu__list-item,
.video-popular__title,
.video-nowwatch__title,
.title_broadcasts,
.air-radio .air-radio__player .air-radio__title,
.breadcrumbs,
.aside-menu,
.aside-menu__list-item.active,
.aside-menu__sublist,
.b-item-broadcasts__title,
.date-pagination .date-pagination__item>a,
.theme-header,
.theme-pagination__inner,
.b-line-item_video-recommend,
.broadcasts-list__day,
.broadcasts-list__day_today,
.search-ext,
.search-ext__date-select__list li,
.search-item,
.air-video__player {
	padding-left: 24px;
	padding-right: 24px;
}

.b-item .b-item__pic-wrapper_fake::before,
.b-item_list .b-item__pic-wrapper_fake::before,
.b-item_video-recommend-main .b-item__pic-wrapper_fake::before,
.b-item_video-nowwatch .b-item__pic-wrapper_fake::before,
.theme-pagination__loading::after {
	position: absolute;
	width: 18px;
	height: 18px;
	background: transparent url("../img/preloader.html") repeat scroll 0% 0%;
	top: 50%;
	left: 50%;
	margin: -9px 0px 0px -9px;
	z-index: 10;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.load-page_loading::after {
	content: "";
	position: absolute;
	display: block;
	top: 10px;
	right: -28px;
	background: transparent url("../img/preloader.html") no-repeat scroll 0% 0%;
	width: 18px;
	height: 18px;
}

body {
	font-family: "Open Sans", sans-serif;
	background: transparent url("../img/bg-bbd.arb.png") repeat scroll 0% 0%;
}

.fix-footer {
	position: relative;
	margin: 0;
	padding: 0;
	z-index: 9999;
}
.fix-footer-center {
    position: fixed;
    left: -50%;
    transform: translate(50%, 0%);
    width: 100%;
    bottom: 0;
	padding: 10px 0;
	background: #c5c3c3a6;
}
.fix-footer-center a {
    width: 90%;
    font-size: 18px;
    height: 100%;
    vertical-align: middle;
    line-height: 30px;
    padding: 0;
    margin: 0 auto;
}
.fadein {
	animation: fadein 0.5s ease-in-out;
}
.fadeout {
	animation: myAdd 0.5s ease-in-out;
}
@keyframes fadein {
0% {opacity:0;}
100% {opacity:1;}
}
@keyframes fadeout {
0% {opacity:1;}
100% {opacity:0;}
}

.content::after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}

.page-wrap {
	padding: 0px 64px;
	max-width: 1280px;
	min-width: 300px;
	margin: 0px auto;
	position: relative;
	cursor: auto;
}

.main-content {
	background: transparent url("../img/bg-bbd.arb.png") repeat scroll 0% 0%;
	z-index: 11;
	position: relative;
}

.main-content::after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}

.content {
	min-height: 700px;
	border-left: 1px solid rgb(204, 204, 204);
	border-right: 1px solid rgb(204, 204, 204);
	margin: 0px auto;
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}

.content__inner {
	float: left;
}

.content__inner_wide,
.content__inner_search {
	background-color: rgb(255, 255, 255);
	border-bottom: 1px solid rgb(204, 204, 204);
}

.news-wrapper::after,
.news-wrapper-2::after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}

.footer,
.content {
	clear: both;
}

.header {
	width: 100%;
	z-index: 12;
	position: relative;
}

.header__inner {
	height: 64px;
	background: rgb(0, 149, 218) none repeat scroll 0% 0%;
	position: relative;
	z-index: 7;
}

.header__logo {
	width: 169px;
	height: 100%;
	position: relative;
	float: left;
}

.header__logo a {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgb(0, 149, 218) url("../img/logo.svg") no-repeat scroll center center / 80% auto;
	text-indent: -9000px;
}

.nav {
	height: 64px;
	max-width: 920px;
	overflow: hidden;
	position: relative;
}

.nav__inner {
	width: 9000px;
}

.nav li {
	display: block;
	float: left;
	height: 64px;
	margin-right: 1px;
	position: relative;
}

.nav li a {
	display: block;
	height: 100%;
	font: 16px/64px "Open Sans", sans-serif;
	color: rgb(255, 255, 255);
	padding: 0px 24px;
	text-decoration: none;
	transition: background 0.3s ease 0s;
}

.nav li a:hover {
	background: rgb(0, 165, 242) none repeat scroll 0% 0%;
}

.nav li {
	perspective: 1000px;
}

.nav li a {
	position: relative;
	background: rgb(0, 149, 218) none repeat scroll 0% 0%;
	transition: transform 0.3s ease 0s;
	transform-origin: 50% 0px 0px;
	transform-style: preserve-3d;
}

.nav li:first-child::after,
.nav__item_first::after {
	display: block;
	content: " ";
	position: absolute;
	z-index: 200;
	bottom: 0px;
	left: 0px;
	width: 40px;
	height: 26px;
}

.nav li a::before {
	display: block;
	position: absolute;
	top: 100%;
	left: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgb(9, 101, 160) none repeat scroll 0% 0%;
	content: attr(data-hover);
	transition: background 0.3s ease 0s;
	transform: rotateX(-90deg);
	transform-origin: 50% 0px 0px;
}

.nav li:hover a,
.nav li:focus a {
	transform: rotateX(90deg) translateY(-22px);
}

.nav li:hover a::before,
.nav li:focus a::before {
	background: rgb(36, 131, 197) none repeat scroll 0% 0%;
}

.nav_mobile {
	display: none;
}

.header__menu-link {
	display: none;
}

.header__air {
	float: right;
	border-left: 1px solid rgb(36, 131, 197);
    padding: 10px 15px 0;
    height: 54px;
}

.header__air-logo {
	display: block;
    width: 75px;
    background: transparent;

}

.header__air-title {
	display: block;
	font: 11px/11px Tahoma, sans-serif;
	color: rgb(133, 204, 237);
	padding-top: 5px;
	text-decoration: none;
}

.search {
	padding: 18px 24px 0px;
	float: right;
	background: transparent url("../img/icons-4ff.arb.png") no-repeat scroll 24px -193px;
	width: 20px;
	height: 30px;
	cursor: pointer;
}

.search .search__form {
	display: none;
}

.search__form {
	display: block;
	position: absolute;
	width: 30px;
	top: 18px;
	right: 20px;
	background: rgb(0, 105, 160) none repeat scroll 0% 0%;
	border-radius: 18px;
	overflow: hidden;
	height: 30px;
}

.search__form input {
	float: left;
	height: 30px;
}

.search__form .search__text {
	border: medium none;
	outline: medium none;
	background: transparent none repeat scroll 0% 0%;
	width: 0px;
	color: rgb(255, 255, 255);
	padding: 0px 3px;
	font: 12px/17px "Open Sans", sans-serif;
	display: block;
}

.search__form .search__submit {
	display: block;
	background: transparent url("../img/icons-4ff.arb.png") no-repeat scroll 0px -211px;
	width: 24px;
	border: medium none;
	cursor: pointer;
	float: right;
}

.header__live::after {
	display: block;
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	top: -1px;
	left: 0px;
	box-shadow: 0px -2px 9px rgb(0, 0, 0);
}

.header__live__item::after {
	content: "";
	position: absolute;
	right: 0px;
	top: 0px;
	height: 48px;
	width: 50px;
	background: rgb(36, 131, 197) none repeat scroll 0% 0%;
	box-shadow: -23px 0px 13px rgb(36, 131, 197);
}

.header__live__item:not(:nth-child(1)) {
	border-top: 1px solid rgb(9, 101, 160);
}

.header__live.urgently .header__live__item::after {
	background: rgb(231, 185, 40) none repeat scroll 0% 0%;
	box-shadow: -23px 0px 13px rgb(231, 185, 40);
}

.live-opened .header__live__item::after {
	display: none;
	position: relative;
}

.footer {
	padding-bottom: 40px;
	background: rgb(26, 26, 26) none repeat scroll 0% 0%;
	overflow: hidden;
	position: relative;
	z-index: 7;
}

.footer-wrapper_top {
	border-top: 9px solid rgb(36, 131, 197);
	background: rgb(38, 38, 38) none repeat scroll 0% 0%;
	height: 64px;
}

.footer__inner {
	padding: 0px 64px;
	max-width: 1280px;
	min-width: 300px;
	margin: 0px auto;
}

.nav_footer {
	float: left;
	height: 64px;
	width: 730px;
	overflow: hidden;
	margin-left: -24px;
}

.nav_footer li {
	float: left;
	height: 64px;
}

.nav_footer li a {
	display: block;
	height: 100%;
	font: 16px/64px "Open Sans", sans-serif;
	color: rgb(255, 255, 255);
	padding: 0px 24px;
	text-decoration: none;
}

.soc-buttons {
	display: block;
	float: right;
	padding-top: 16px;
}

.soc-buttons a {
	display: block;
	float: left;
	margin-left: 16px;
	width: 32px;
	height: 32px;
	background-image: url("../img/soc-icons-916.arb.png");
	transition: background 0.2s ease-out 0s;
}

.soc-buttons_vk {
	background-position: 0px 0px;
}

.soc-buttons_vk:hover {
	background-position: 0px -32px;
}

.soc-buttons_fb {
	background-position: -32px 0px;
}

.soc-buttons_fb:hover {
	background-position: -32px -32px;
}

.soc-buttons_twt {
	background-position: -64px 0px;
}

.soc-buttons_twt:hover {
	background-position: -64px -32px;
}

.soc-buttons_gplus {
	background-position: -96px 0px;
}

.soc-buttons_gplus:hover {
	background-position: -96px -32px;
}

.soc-buttons_rss {
	background-position: -128px 0px;
}

.soc-buttons_rss:hover {
	background-position: -128px -32px;
}

.soc-buttons_insta {
	background-position: -160px 0px;
}

.soc-buttons_insta:hover {
	background-position: -160px -32px;
}

.soc-buttons_youtube {
	background-position: -192px 0px;
}

.soc-buttons_youtube:hover {
	background-position: -192px -32px;
}

.soc-buttons_ok {
	background-position: -224px 0px;
}

.soc-buttons_ok:hover {
	background-position: -224px -32px;
}

.soc-buttons_telegram {
	background-position: -256px 0px;
}

.soc-buttons_telegram:hover {
	background-position: -256px -32px;
}

.footer__copyright {
	font: 12px/17px "Open Sans", sans-serif;
	color: rgb(153, 153, 153);
	padding: 36px 0px 0px;
	width: 75%;
}

.footer__copyright p {
	padding-bottom: 24px;
}

.footer__copyright p+p {
	padding-left: 54px;
	padding-top: 2px;
}

.b-item .b-item__pic-wrapper_video-link::after,
.b-item_list .b-item__pic-wrapper_video-link::after,
.b-item_video-recommend-main .b-item__pic-wrapper_video-link::after,
.b-item_video-nowwatch .b-item__pic-wrapper_video-link::after {
	display: block;
	content: "Смотреть видео";
	overflow: hidden;
	position: absolute;
	width: 0px;
	padding: 0px 40px 0px 8px;
	height: 48px;
	left: 0px;
	top: 50%;
	margin-top: -24px;
	background: rgb(0, 149, 218) url("../img/icons-4ff.arb.png") no-repeat scroll 10px 12px;
	font: 12px/48px "Open Sans", sans-serif;
	color: rgb(255, 255, 255);
	text-indent: -122px;
	text-align: center;
	text-decoration: none;
	transition: all 0.2s ease-out 0s;
}

.b-item .b-item__pic-wrapper_video-link:hover::after,
.b-item_list .b-item__pic-wrapper_video-link:hover::after,
.b-item_video-recommend-main .b-item__pic-wrapper_video-link:hover::after,
.b-item_video-nowwatch .b-item__pic-wrapper_video-link:hover::after {
	width: 122px;
	background-position: 132px 12px;
	text-indent: 0px;
}

.b-item .b-item__pic-wrapper_fake::before,
.b-item_list .b-item__pic-wrapper_fake::before,
.b-item_video-recommend-main .b-item__pic-wrapper_fake::before,
.b-item_video-nowwatch .b-item__pic-wrapper_fake::before {
	content: "";
}

.b-item_section::after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}

.section__item::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 0px;
	width: 6px;
	height: 6px;
	border-radius: 3px;
	background: rgb(0, 0, 0) none repeat scroll 0% 0%;
}

.breadcrumbs {
    height: 22px;
    padding-top: 10px;
    padding-bottom: 0px;
    font: 14px/22px "Open Sans";
}

.breadcrumbs h2 a {
	color: rgb(37, 93, 137);
	display: block;
	float: left;
	padding-right: 16px;
	border-left: 1px solid rgb(204, 204, 204);
	padding-left: 16px;
}

.breadcrumbs h2 a:first-child {
	border-left: medium none;
	padding-left: 0px;
}

.breadcrumbs .breadcrumbs__all-link::after {
	content: "";
	display: block;
	position: absolute;
	right: 0px;
	top: -2px;
	width: 25px;
	height: 25px;
	background: transparent url("../img/icons-4ff.arb.png") no-repeat scroll -1px -453px;
}

.article,
.article_broadcast {
	width: 70%;
	padding: 24px 20px 24px 70px;
	float: left;
	box-sizing: border-box;
	direction: rtl;
}

.article__date {
	font: 14px/18px "ArimoRegular", sans-serif;
	color: rgb(85, 85, 85);
}

.article__date .article__time {
	padding-left: 12px;
	padding-right: 12px;
}

.article__date .article__author {
	padding: 0px 12px;
	border-left: 1px solid rgb(204, 204, 204);
}

.article__title {
    font: 23px "Open Sans", sans-serif;
    padding: 4px 0px 4px;
    line-height: 28px;
    font-weight: 800;
    text-transform:uppercase;
}
.article__video-link::after {
	content: "Смотреть видео";
	position: absolute;
	width: 96px;
	height: 96px;
	background: rgb(0, 149, 218) url("../img/icons-4ff.arb.png") no-repeat scroll 23px -27px;
	top: 50%;
	margin-top: -48px;
	left: 0px;
	overflow: hidden;
	font: 20px/96px "Open Sans", sans-serif;
	color: rgb(255, 255, 255);
	text-indent: -250px;
	text-decoration: none;
	transition: all 0.2s ease-out 0s;
}

.article__video-link:hover::after {
	width: 260px;
	padding: 0px 0px 0px 60px;
	background-position: 250px -27px;
	text-indent: 0px;
}

.article__text {
	font: 16px/24px "Open Sans", sans-serif;
	color: #000;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
	padding-left: 0px;
	padding-top: 14px;
	direction: rtl;
}

.article__text img {
	max-width: 100%;
}

.article__text p {
	padding: 10px 0px;
	text-align: right;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 500;
}

.article__text a {
	text-decoration: underline;
	color: rgb(0, 95, 166);
}

.article__text a:hover {
	text-decoration: none;
	color: red;
}

.article__text em,
.article__text i {
	font-style: italic;
}

.article__text b,
.article__text strong {
	font-weight: bold;
}

.article__text ul {
	padding-right: 22px;
	padding-bottom: 15px;
	margin-left:10px;
}

.aside-menu__list-item_has-child::after {
	content: "";
	position: absolute;
	background: transparent url("../img/icons-4ff.arb.png") no-repeat scroll 0px -537px;
	width: 11px;
	height: 18px;
	top: 18px;
	right: 0px;
}

.aside-menu__sublist::after {
	content: "";
	position: absolute;
	width: 2px;
	height: 100%;
	top: 0px;
	right: 0px;
	background: rgb(34, 34, 34) none repeat scroll 0% 0%;
	box-shadow: -4px 0px 20px 24px rgb(34, 34, 34);
}

.b-line-item::after,
.b-line-item_video-recommend::after,
.b-line-item_broadcast::after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}

.share .ya-share2__container .ya-share2__link:hover .ya-share2__counter::before {
	background: transparent url("../img/icons_share_before.html") no-repeat scroll 0px 0px;
}

.share .ya-share2__container .ya-share2__item_service_twitter .ya-share2__icon::before {
	position: absolute;
	left: 24px;
	top: 3px;
	margin-left: 10px;
	height: 23px;
	line-height: 23px;
	color: black;
	text-align: center;
	width: 50px;
	text-indent: -9999px ! important;
	background: transparent url("../img/share_bg.html") no-repeat scroll 50% 50%;
	display: block;
	content: "";
	border-width: 1px 1px 1px medium;
	border-style: solid solid solid none;
	border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(204, 204, 204) currentcolor;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
}

.share .ya-share2__container .ya-share2__item_service_twitter .ya-share2__icon::after {
	content: "";
	position: absolute;
	top: 3px;
	left: 28px;
	width: 6px;
	height: 25px;
	background: transparent url("../img/icons-4ff.arb.png") no-repeat scroll 0px -643px;
}

.share .ya-share2__container .ya-share2__item_service_twitter:hover .ya-share2__icon::before {
	border-color: rgb(0, 0, 0);
}

.share .ya-share2__container .ya-share2__item_service_twitter:hover .ya-share2__icon::after {
	background: transparent url("../img/icons_share_before.html") no-repeat scroll 0px 0px;
}

.share .ya-share2__container .whatsapp-link::before {
	position: absolute;
	left: 24px;
	top: 0px;
	margin-left: 10px;
	height: 23px;
	line-height: 23px;
	color: black;
	text-align: center;
	width: 50px;
	text-indent: -9999px ! important;
	background: transparent url("../img/share_bg.html") no-repeat scroll 50% 50%;
	display: block;
	content: "";
	border-width: 1px 1px 1px medium;
	border-style: solid solid solid none;
	border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(204, 204, 204) currentcolor;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
}

.share .ya-share2__container .whatsapp-link::after {
	content: "";
	position: absolute;
	top: 0px;
	left: 28px;
	width: 6px;
	height: 25px;
	background: transparent url("../img/icons-4ff.arb.png") no-repeat scroll 0px -643px;
}

.share .ya-share2__container .ya-share2__counter::before {
	content: "";
	position: absolute;
	top: -1px;
	left: -6px;
	width: 6px;
	height: 25px;
	background: transparent url("../img/icons-4ff.arb.png") no-repeat scroll 0px -643px;
	margin: 0px;
}

.overlay__close::after {
	content: "";
	display: block;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	border: 2px solid rgb(255, 255, 255);
	position: absolute;
	top: 0px;
	left: 0px;
	transition: all 0.6s ease 0s;
	transform: scale(0.85);
}

.overlay__close:hover::after {
	transform: scale(1);
}

.photo-carousel__item a::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: rgba(255, 255, 255, 0.5) none repeat scroll 0% 0%;
}

.photo-carousel__item_current a::before {
	display: none;
}

.photo-carousel__item_video a::after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -13px 0px 0px -13px;
	height: 26px;
	width: 26px;
	background: transparent url("../img/icons-4ff.arb.png") no-repeat scroll 0% 0%;
}

.media__main .media__main-item_video::after {
	display: block;
	content: "Смотреть видео";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 186px;
	height: 46px;
	margin: -93px 0px 0px -93px;
	padding-top: 140px;
	text-align: center;
	font: 12px/17px "Open Sans", sans-serif;
	color: rgb(255, 255, 255);
	background: transparent url("../img/icons-4ff.arb.png") no-repeat scroll 0px -1510px;
	z-index: 99;
}

.media__main .owl-prev::after {
	content: "";
	display: block;
	position: absolute;
	top: 22px;
	left: 26px;
	width: 10px;
	height: 18px;
	background: transparent url("../img/icons-4ff.arb.png") no-repeat scroll -11px -937px;
}

.media__main .owl-prev::before {
	content: "";
	display: block;
	position: absolute;
	top: -2px;
	left: -2px;
	width: 62px;
	height: 62px;
	border: 2px solid rgb(255, 255, 255);
	opacity: 0;
	border-radius: 50%;
	transition: all 0.6s ease 0s;
}

.media__main .owl-prev:hover::before {
	opacity: 1;
}

.media__main .owl-next::after {
	content: "";
	display: block;
	position: absolute;
	width: 10px;
	height: 18px;
	top: 22px;
	left: 26px;
	background: transparent url("../img/icons-4ff.arb.png") no-repeat scroll 0px -937px;
}

.media__main .owl-next::before {
	content: "";
	display: block;
	position: absolute;
	top: -2px;
	left: -2px;
	width: 62px;
	height: 62px;
	border: 2px solid rgb(255, 255, 255);
	opacity: 0;
	border-radius: 50%;
	transition: all 0.6s ease 0s;
}

.media__main .owl-next:hover::before {
	opacity: 1;
}

.media__carousel .media__carousel__item::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.6) none repeat scroll 0% 0%;
}

.media__carousel .media__carousel__item.current::before {
	display: none;
}

.media__carousel .media__carousel__item.media__carousel__item_video::after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -13px 0px 0px -13px;
	height: 26px;
	width: 26px;
	background: transparent url("../img/icons-4ff.arb.png") no-repeat scroll 0% 0%;
}

.theme-media .media__carousel .owl-prev::after {
	content: "";
	display: block;
	position: absolute;
	top: 12px;
	left: 15px;
	width: 10px;
	height: 18px;
	background: transparent url("../img/icons-4ff.arb.png") no-repeat scroll -11px -937px;
}

.theme-media .media__carousel .owl-next::after {
	content: "";
	display: block;
	position: absolute;
	width: 10px;
	height: 18px;
	top: 12px;
	left: 17px;
	background: transparent url("../img/icons-4ff.arb.png") no-repeat scroll 0px -937px;
}

.owl-carousel .owl-wrapper::after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0px;
}

.broadсast-item.broadcast-item_current::before {
	content: "";
	display: block;
	position: absolute;
	top: 0px;
	left: 3px;
	background: transparent url("../img/icons-4ff.arb.png") repeat scroll 0px -1779px;
	width: 24px;
	height: 25px;
}

.promo__news::after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}

.promo__news::after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}

.b-item_promo:nth-child(2) .b-item__inner {
	border: medium none;
}

.themes::after {
	position: absolute;
	display: block;
	content: "";
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 20px;
	background: rgb(34, 34, 34) none repeat scroll 0% 0%;
	box-shadow: 0px -4px 20px 24px rgb(34, 34, 34);
}

.themes.themes_opened::after {
	display: none;
	transition: all 0.3s ease 0s;
}

.date-pagination::after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}

.theme-pagination__loading::after {
	content: "";
}

.b-line-item_broadcast_current::before {
	content: "";
	display: block;
	position: absolute;
	top: 60px;
	left: 12px;
	background: transparent url("../img/icons-4ff.arb.png") repeat scroll 0px -1779px;
	width: 24px;
	height: 25px;
}

.search-ext__checkbox::after {
	display: block;
	content: "";
	position: absolute;
	left: 0px;
	top: 8px;
	width: 24px;
	height: 24px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(204, 204, 204);
	border-radius: 3px;
}

.search-ext__checkbox_checked::after {
	background: rgb(255, 255, 255) url("../img/icons-4ff.arb.png") no-repeat scroll 2px -883px;
}

.search-ext__date-select::after {
	display: block;
	content: "";
	position: absolute;
	right: 0px;
	top: 0px;
	width: 31px;
	height: 35px;
	border-left: 1px solid rgb(204, 204, 204);
	background: transparent url("../img/icons-4ff.arb.png") no-repeat scroll 7px -832px;
}

.search-ext__date::after {
	display: block;
	content: "";
	position: absolute;
	right: 0px;
	top: 0px;
	width: 31px;
	height: 35px;
	border-left: 1px solid rgb(204, 204, 204);
	background: transparent url("../img/icons-4ff.arb.png") no-repeat scroll 6px -790px;
	cursor: pointer;
}

.search-ext__submit-wrapper::after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}

.search-item__content a.icon_play::after {
	content: "";
	width: 25px;
	height: 25px;
	border: 2px solid rgb(0, 149, 218);
	border-radius: 50%;
	transition: all 0.6s ease 0s;
	transform: scale(0.85);
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
}

.search-item__content a.icon_play:hover::after {
	transform: scale(1);
}

@media not all,
not all,
only screen and (min-resolution: 120dpi) {}

.head {
	font-size: 20px;
    font-weight: 700;
    padding: 0 0 10px!important;
}

.of-site {
	font: bold 30px/100% "Open Sans", sans-serif;
}

img {
	max-width: 100%;
}

a:hover {
	text-decoration: none;
}

.submit {
	margin-top: 10px;
	cursor: pointer;
	height: 50px;
	line-height: 50px;
	width: 400px;
	text-transform: uppercase;
	font-weight: bold;
	border: 0px none;
	background-color: firebrick;
	color: rgb(255, 255, 255);
	font-size: 26px;
	border-radius: 3px;
}

table {
	max-width: 800px;
	margin: 0px auto;
	box-shadow: 2px 3px 8px 0px rgba(105, 105, 105, 0.39);
}

th,
td {
	border-color: rgb(189, 189, 189);
}

.tg {
	border-collapse: collapse;
	border-spacing: 0px;
}

.tg td {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	vertical-align: text-top;
	padding: 4px 3px;
    line-height: 20px;
}

.tg td ul {
	list-style: disc;
	padding-left: 0;
	margin-left: 20px;
}

.tg th {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: normal;
	padding: 10px 5px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
}

.tbg1 {
	background: rgb(180, 237, 255) none repeat scroll 0% 0%;
}

.tbg2 {
	background: #f1f1f1;
}

.comment-block {
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}

.comment-user {
	border-bottom: 1px solid #f1f2f6;
	margin-bottom: 10px;
}

.comment-block .user-name {
	font-weight: bold;
	padding: 0px 0px 10px;
}

.comment-block img {
	width: 60px;
	float: left;
	margin: 0px 20px 0px 0px;
}

.comment-block p {}

.comment-user:last-child {
	border-bottom: medium none;
}

.sendpulse-fab .sendpulse-prompt-message::after,
.sendpulse-fab .sendpulse-prompt-message::before {
	content: "";
	position: absolute;
	bottom: -21px;
	right: 23px;
	border-style: solid;
	height: 0px;
	width: 0px;
	border-width: 10px;
	border-color: rgb(204, 204, 204) transparent transparent;
}

.sendpulse-fab .sendpulse-prompt-message::after {
	border-top-color: rgb(255, 255, 255);
	bottom: -20px;
}

.sidebar {
	float: right;
	width: 320px;
	margin-right: 1.2%;
	margin-top: 7px;
}

.sidebar p {
	text-align: right;
	direction: rtl;
	padding: 10px 0px 10px 20px;
	font-style: italic;
	font-size: 14px;
	line-height: 140%;
}

.sidebar a {
	color: blue;
	text-decoration: underline;
}

.sidebar a:hover {
	color: red;
	text-decoration: none;
}

.sidebar .doc {
	border-width: medium 0px medium medium;
	border-style: none;
	border-color: currentcolor;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-radius: 3px;
	padding: 20px;
	box-sizing: border-box;
	background: rgb(238, 238, 238) none repeat scroll 0% 0%;
	text-align: center;
	font-family: "Open Sans", sans-serif;
}

.sidebar .formblock {
	background: rgb(238, 238, 238) none repeat scroll 0% 0%;
	margin-top: 30px;
	padding: 20px;
	border: medium none;
	border-radius: 4px;
	box-sizing: border-box;
	text-align: center;
	font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 1259px) {
	.sidebar {
		display: none ! important;
	}
	.article,
	.article_broadcast {
		padding: 10px;
		width: 100%;
	}
}

@media screen and (max-width: 671px) {
	.page-wrap {
		padding: 0px 4px;
		max-width: 1280px;
		min-width: 196px;
	}
}


@media screen and (max-width: 467px) {
	.breadcrumbs h2 a {
		font-size: 12px;
	}
}

@media screen and (max-width: 427px) {
	.breadcrumbs h2 a {
		font-size: 11px;
	}
}

@media screen and (max-width: 392px) {
	.search,
	.nav {
		display: none;
	}
}

.mybutton2 {
	width: 134px;
	font-family: "Open Sans";
	cursor: pointer;
	padding: 0px 24px;
	border-width: medium medium 2px;
	border-style: none none solid;
	border-color: currentcolor currentcolor rgb(9, 90, 12);
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	display: block;
	margin: 0px;
	font-size: 24px;
	height: 51px;
	line-height: 51px;
	background: rgb(7, 152, 12) none repeat scroll 0% 0%;
	font-weight: 700;
	border-radius: 3px;
	color: rgb(255, 255, 255) ! important;
	text-decoration: none ! important;
	text-transform: none;
	text-align: center;
}

.mybutton2:hover {
	background: rgb(16, 181, 22) none repeat scroll 0% 0%;
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.mybutton2:focus {
	color: rgb(255, 255, 255);
	text-decoration: none;
	border: medium none ! important;
}

.ppofsite {
	font-family: "Open Sans", Helvetica, sans-serif;
	text-align: center ! important;
	font-size: 20px;
	margin-bottom: 10px;
	padding: 0px;
	color: rgb(17, 17, 17);
	margin-top: 10px;
}

#product-block {
	background: transparent url("../img/tov.png") no-repeat scroll center center / contain;
	height: 338px;
	width: 100% ! important;
	display: block;
	margin: 0px 0px 0px -10% ! important;
	text-align: center;
}

#product-block .plashka2-t {
	color: rgb(255, 249, 21);
	font-size: 20px;
	line-height: 25px;
}

#product-block .plashka2 b {
	text-shadow: 1px 1px 2px rgb(55, 56, 56);
}

#product-block .plashka2 {
	position: absolute;
	background: transparent url("../img/sale-bg-2-fa1.arb.png") no-repeat scroll center center / 190px 262px;
	width: 190px ! important;
	height: 138px;
	padding: 144px 30px 0px 0px;
	line-height: 22px;
	text-align: center;
	font-size: 17px;
	color: rgb(255, 255, 255);
	margin: 48px 0px 0px -10px ! important;
	font-family: "Open Sans", sans-serif;
	box-sizing: content-box;
	z-index: 5;
}

@media screen and (max-width: 767px) {
	#product-block {
		width: 100% ! important;
		height: 224px ! important;
		margin: 0px 0px 0px -10% ! important;
	}
	#product-block .plashka2 {
		background-size: 135px 188px;
		width: 110px ! important;
		height: 98px;
		padding: 95px 25px 0px 0px;
		line-height: 16px;
		font-size: 13px;
		margin: 15px 0px 0px ! important;
	}
	#product-block .plashka2-t {
		font-size: 15px;
	}
}

@media screen and (max-width: 720px) {}

@media screen and (max-width: 200px) {
	#product-block .plashka2 {
		display: none;
	}
}

.mycity {
	color: rgb(115, 115, 115);
	font-size: 90%;
	font-weight: 500;
}

@media screen and (max-width: 678px) {
	.soc-buttons {
		width: 93%;
		margin: 0px auto;
		text-align: center;
	}
	.soc-buttons a {
		margin-top: 5px;
	}
	.footer__copyright {
		width: 100%;
		text-align: center;
	}
	.footer__copyright p {
		display: inline-block;
		margin: 0px auto;
		text-align: center;
		padding-top: 10px ! important;
	}
	.footer__copyright p+p {
		padding: 0px;
		width: auto ! important;
	}
	.footer__inner {
		padding: 0px 28px;
	}
}

div.im-colormask>input::-moz-selection {
	background: transparent none repeat scroll 0% 0%;
}

div.im-colormask>input::-moz-selection {
	background: transparent none repeat scroll 0% 0%;
}

div.ps-popup-default .ps-form::before,
div.ps-popup-default .ps-form::after {
	content: "";
	display: table;
}

div.ps-popup-default .ps-form::after {
	clear: both;
}

div.ps-popup-default .ps-top::before,
div.ps-popup-default .ps-top::after,
div.ps-popup-default .ps-middle::before,
div.ps-popup-default .ps-middle::after,
div.ps-popup-default .ps-bottom::before,
div.ps-popup-default .ps-bottom::after {
	content: "";
	display: table;
}

div.ps-popup-default .ps-top::after,
div.ps-popup-default .ps-middle::after,
div.ps-popup-default .ps-bottom::after {
	clear: both;
}

div.ps-popup-default .ps-features-list li::before,
div.ps-popup-default .ps-features-list li::after {
	content: "";
	display: table;
}

div.ps-popup-default .ps-features-list li::after {
	clear: both;
}

div.ps-popup-default .ps-features-list strong::before {
	position: absolute;
	left: 0px;
	top: 16px;
	content: "";
}

div.ps-popup-default .ps-left::before {
	background-image: url("../img/sprite.html");
	background-position: -21px 0px;
	width: 16px;
	height: 17px;
}

div.ps-popup-default .ps-now::before {
	left: -5px;
	top: 14px;
	background-image: url("../img/sprite.html");
	background-position: 0px 0px;
	width: 21px;
	height: 17px;
}

#ps-call-mobile-form a.ps-close::after,
#ps-sale-mobile-form a.ps-close::after {
	content: "";
	position: absolute;
	background: transparent url("../img/close.png") no-repeat scroll center center;
	top: 12px;
	margin-left: -8px;
	left: 50%;
	width: 15px;
	height: 12px;
}

#ps-sale-mobile-form .clearance::after {
	content: "";
	position: absolute;
	top: -18px;
	left: 0px;
	width: 100%;
	border-top: 1px solid rgb(192, 205, 212);
}

@media not all,
only screen and (min--moz-device-pixel-ratio: 1.5),
not all {}

@media screen and (max-width: 980px) {}

.pl_next_order_page {
	display: none;
}

.ppofsite {
	font-family: "Open Sans", Helvetica, sans-serif;
	text-align: center ! important;
	font-size: 20px;
	margin-bottom: 10px;
	padding: 0px;
	color: rgb(17, 17, 17);
	margin-top: 10px;
}

#ouibounce-modal {
	font-family: "Open Sans", sans-serif;
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

#ouibounce-modal .underlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.9);
	cursor: pointer;
	animation: 0.5s ease 0s normal none 1 running fadein;
}

.over-window {
	font-family: "Open Sans", serif;
	width: 650px;
	z-index: 9999;
	padding: 10px 0px 0px;
	cursor: default;
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	position: fixed;
	top: 5%;
	left: 50%;
	margin: 0px 0px 0px -391px;
	border: 3px solid rgb(62, 62, 62);
}

.ex-logo {
	color: rgb(17, 17, 17);
	font-family: "Open Sans", Helvetica, sans-serif;
	font-size: 28px;
	line-height: 38px;
	margin: 15px auto 10px;
	padding: 0px 15px;
	text-align: center;
	font-weight: bold ! important;
}

.footer-button {
	color: rgb(174, 18, 16);
	font-size: 46px;
	line-height: 56px;
	margin: 5px auto 0px;
	padding: 0px 15px;
	text-align: center;
}

.footer-button a {
	font-family: "Open Sans";
	cursor: pointer;
	border-width: medium medium 2px;
	border-style: none none solid;
	border-color: currentcolor currentcolor rgb(192, 57, 43);
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	display: block;
	margin: 5px auto 10px;
	color: rgb(255, 255, 255);
	font-size: 30px;
	text-decoration: none;
	text-align: center;
	height: 51px;
	line-height: 51px;
	background: rgb(231, 76, 60) none repeat scroll 0% 0%;
	font-weight: normal;
	border-radius: 9px;
	width: 380px;
}

.footer-button a:hover {
	background: rgb(231, 92, 78) none repeat scroll 0% 0%;
}

.footer-button a:hover {
	color: rgb(255, 255, 255);
}

.ppubtxt {
	font-family: "Open Sans", Helvetica, sans-serif;
	text-align: center ! important;
	font-size: 18px;
	margin-bottom: 10px;
	width: 650px;
	padding: 0px;
	color: rgb(17, 17, 17);
	margin-top: 0px;
}

.exit-slogan {
	color: rgb(34, 34, 34);
	font-family: "Open Sans", Helvetica, sans-serif;
	font-size: 22px;
	line-height: 32px;
	margin: 10px auto 5px;
	padding: 0px 15px;
	text-align: center;
	font-weight: normal;
	width: 550px;
}

.exitprod-img {
	width: 230px;
	margin: 15px 15px 0px;
	float: left;
	text-align: center;
}

.exit-form {
	width: 370px;
	float: left;
}

.exit-form-text {
	margin: 10px 0px 20px;
}

.exit-form-text .subhead {
	font-size: 20px;
	font-weight: 700;
	line-height: 29px;
	color: rgb(120, 43, 43);
}

.exit-form-text .subhead ul {
	list-style: outside none none;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-size: 20px;
	line-height: 32px;
	font-weight: normal;
	padding-left: 10px;
}

.exit-form-text .subhead ul li {
	background: transparent url("../img/bul.png") no-repeat scroll 0px 10px;
	margin-top: 10px;
	padding-left: 30px;
	padding-bottom: 10px;
	text-align: right;
}

.close-ex {
	height: 52px;
	width: 52px;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: -26px;
	background: transparent url("../img/close_001.html") no-repeat scroll 0% 0%;
}

.clr {
	clear: both;
}

.over-window-consult {
	font-family: "Open Sans", serif;
	width: 650px;
	z-index: 9999;
	padding: 10px 0px 0px;
	cursor: default;
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	position: fixed;
	top: 5%;
	left: 50%;
	margin: 0px 0px 0px -391px;
	border: 3px solid rgb(62, 62, 62);
	display: none;
}

.un-overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 322px;
	padding: 20px 18px;
	margin-top: -181px;
	margin-bottom: 5px;
	background: rgb(255, 255, 255) url("../img/back1.png") repeat scroll center center;
	font-family: "Open Sans", Helvetica, sans-serif;
	border: 1px solid rgb(178, 178, 178);
	border-radius: 15px;
	box-shadow: 0px 0px 1px 1px rgb(255, 255, 255) inset;
	width: 420px;
	margin-left: 96px;
}

.un-overlay.mod-auto {
	position: relative;
	top: 0px;
	left: 0px;
	height: auto;
	margin: 0px 0px 0px 96px;
	border-radius: 5px;
	width: 420px;
}

.un-overlay .un-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.un-overlay .un-wrapper .line {
	position: relative;
	padding: 0px 20px 20px 115px;
}

.un-overlay .un-wrapper .line label {
	position: absolute;
	top: 6px;
	left: 0px;
}

.un-overlay .un-wrapper .line input[type="text"],
.un-overlay .un-wrapper .line select {
	display: block;
	width: 100%;
	height: 31px;
	padding: 0px 10px;
	border: 1px solid rgb(178, 178, 178);
	border-radius: 5px;
	box-shadow: 0px 0px 1px 1px rgb(255, 255, 255) inset;
	font-size: 15px;
	font-family: "Trebuchet MS";
	color: rgb(53, 53, 53);
	line-height: 2;
	background: rgb(255, 255, 255) url("../img/input1.html") repeat-x scroll left top;
	margin-bottom: 0px;
}

.submit {
	position: relative;
	padding: 0px 0px 8px;
	margin: 5px 0px 0px;
	top: 0px;
	left: 0px;
	border: 0px none;
	font-size: 22px ! important;
	font-family: "Open Sans", Helvetica, sans-serif;
	color: rgb(53, 53, 53);
	font-weight: bold;
	font-style: italic;
	line-height: 1.8;
	text-shadow: 0px 1px 0px rgb(250, 250, 250);
	cursor: pointer;
	outline: 0px none;
	width: 90%;
	height: 50px;
}

.submit,
.submit:hover,
.submit::before,
.submit::after {
	background: transparent url("../img/submits1.html") repeat scroll left top;
}

.submit::before,
.submit::after {
	content: " ";
	position: absolute;
	top: 0px;
	width: 22px;
	height: 48px;
}

.submit::before {
	left: -22px;
}

.submit::after {
	right: -22px;
}

.submit.green::before {
	background-position: 0px 0px;
}

.submit.green {
	background-position: 0px -50px;
	color: rgb(26, 58, 1);
	text-shadow: 0px 1px 0px rgb(190, 255, 103);
}

.submit.green::after {
	background-position: 0px -100px;
}

.submit.green:hover::before {
	background-position: 0px -300px;
}

.submit.green:hover {
	background-position: 0px -350px;
	color: rgb(2, 70, 60);
	text-shadow: 0px 1px 0px rgb(110, 255, 142);
}

.submit.green:hover::after {
	background-position: 0px -400px;
}

.cunsultbadname,
.cunsultbadphone {
	background: rgb(249, 157, 157) none repeat scroll 0% 0%;
	border: 1px solid rgb(250, 101, 101);
	border-radius: 3px;
	font-size: 18px;
	padding: 5px ! important;
	line-height: 24px;
	color: rgb(0, 0, 0);
	display: none;
	text-align: center;
	width: 410px;
	margin-top: 0px;
}

.cunsultbadname {
	margin-bottom: 10px;
}

.ppofsite {
	font-family: "Open Sans", Helvetica, sans-serif;
	text-align: center ! important;
	font-size: 20px;
	margin-bottom: 10px;
	padding: 0px;
	color: rgb(17, 17, 17);
	margin-top: 10px;
}

.oui {
	width: 781px;
	height: 460px;
	background: transparent linear-gradient(135deg, rgb(60, 114, 181) 0%, rgb(123, 159, 204) 100%) repeat scroll 0% 0%;
	position: relative;
	border: 5px solid rgb(221, 221, 221);
}

.kmacb-form2 .modal-block {
	left: 50%;
	margin-left: -396px;
	position: fixed;
	top: 6%;
	z-index: 8105;
	width: 792px;
	height: 470px;
	border-radius: 5px;
	border: 0px none;
	box-shadow: none;
	font-family: "Open Sans", sans-serif;
	overflow: hidden;
	color: rgb(34, 34, 34);
}

.ouimainp {
	font-size: 30px;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: bold;
	padding-top: 30px;
	display: block;
	color: rgb(255, 255, 255);
	text-align: center;
}

.ouimain-text-img {
	display: block;
	width: 100%;
	padding: 0px 5%;
	margin-top: 60px;
}

.ouimain-img {
	float: left;
	display: block;
	width: 30%;
	margin: -20px auto 0px;
}

.ouimain-img img {
	display: block;
	width: 100%;
	margin: 0px auto;
}

.ouimain-text {
	display: block;
	width: 65%;
	float: right;
	margin-left: 5%;
	margin-top: -10px;
}

.ouimain-text p {
	font-family: "Open Sans", Helvetica, sans-serif;
	line-height: 1.5;
	text-align: right;
	color: rgb(255, 255, 255);
	font-size: 22px;
	padding-bottom: 5px;
}

.ouimain-text-img::after {
	content: "";
	display: block;
	clear: both;
}

.close {
	margin-top: 10px;
	margin-right: 10px;
	position: absolute;
	top: 1px;
	right: 5px;
	font-size: 40px;
	cursor: pointer;
}

.submit1 {
	margin: 0px;
	text-align: center;
	width: 100%;
	height: auto;
	background: transparent none repeat scroll 0px center;
	position: static;
	padding: 0px;
	border: 0px none;
}

.submit1 {
	box-sizing: border-box;
}

.submit1 {
	float: none;
}

.submit1[type="submit"] {
	position: absolute;
	cursor: pointer;
	border: 1px solid rgb(73, 155, 234);
	background: transparent linear-gradient(135deg, rgb(222, 69, 92) 0%, rgb(222, 69, 92) 13%, rgb(192, 31, 55) 76%, rgb(192, 31, 55) 100%) repeat scroll 0% 0%;
	color: rgb(255, 255, 255);
	padding: 0px 10px;
	text-transform: uppercase;
	line-height: 60px;
	vertical-align: top;
	display: block;
	text-indent: 0px;
	font-style: normal;
	font-family: "Open Sans", Helvetica, sans-serif;
	width: 402px;
	height: 64px;
	opacity: 1;
	bottom: 20px;
	margin-left: 195px;
	text-align: center;
	font-size: 28px;
	font-weight: 900;
	border-radius: 10px;
	transition: all 0.6s ease 0s;
}

.submit1[type="submit"]:hover {
	background: transparent linear-gradient(to bottom, rgb(222, 69, 92) 0%, rgb(222, 69, 92) 13%, rgb(192, 31, 55) 76%, rgb(192, 31, 55) 100%) repeat scroll 0% 0%;
}